<?xml version="1.0"	encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
	  autoReload="true"
	  throwExceptions="false"
	  internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

	<variable name="myvar" value="myvalue"/>

	<targets>
		<target xsi:type="File" name="SeniorAppLoggerTarget" filename="${basedir}/logs/${shortdate}logging.log"
			layout="${longdate} ${uppercase:${level} ${message}" />
	</targets>

	<rules>

		<logger name="SeniorAppLoggerrule" minlevel="Debug" writeTo="SeniorAppLoggerTarget" />
	</rules>
	
	
</nlog>